src/main/resources/META-INF/jack.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.springframework.org/schema/jack"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.springframework.org/schema/jack"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:element name="redis">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="stuName" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="gender" type="xsd:string"></xsd:attribute>
        </xsd:complexType>

    </xsd:element>

</xsd:schema>